:root {
    --bright-orange: #ff5023;
    --medium-orange: #ff9812;
    --light-orange: #f1edea;
    --text-color: #333;
    --dimmed-text-color: rgb(82, 82, 82);
    --dimmed: rgba(0, 0, 0, 0.4);
    --almost-white: #fefefe;
    --background-grey: #aaaaaa;
    --even-grey: #f3f3f3;
    --border-grey: #888;
    --default-fonts: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: var(--text-color);
    font-family: var(--default-fonts);
    font-size: 1em;
    line-height: 1.5;
}

button,
.button {
    background-color: var(--bright-orange);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    float: right;
    transition: 0.3s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--medium-orange);
}

#logout-button {
    background-color: var(--text-color);
    margin-left: 12px;
}

#logout-button:hover,
#logout-button:focus {
    background-color: #000;
}

.bottom-button {
    margin-top: 20px;
}

.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}
table th {
    background-color: var(--text-color);
    color: #fff;
    padding: 0.5em 1em;
    text-align: left;
    overflow-wrap: break-word;
}
table td {
    border-bottom: 1px solid var(--background-grey);
    padding: 0.5em 1em;
    overflow-wrap: break-word;
}

#transactionTableBody tr:nth-child(even) {
    background-color: var(--even-grey);
}

#transactionTableBody tr:hover {
    background-color: var(--light-orange);
}

#transactionTableBody {
    cursor: pointer;
}

/* Loading icon */
.loading-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 5em;
    height: 5em;
    border: 1em solid var(--bright-orange);
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--bright-orange) transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* End loading icon */

/* CSS for the modal */
.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--dimmed);
}

.modal-foreground {
    background-color: var(--almost-white);
    margin: 2% auto 2% auto;
    padding: 15px 20px 20px 20px;
    border: 1px solid var(--border-grey);
    max-width: 900px;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
}

.small-modal {
    max-width: 365px;
}

hr {
    border: 0;
    height: 5px;
    width: 80%;
    float: left;
    background-image: linear-gradient(90deg, var(--bright-orange), transparent);
    margin-right: 20%;
}

hr.invert {
    float: right;
    background-image: linear-gradient(270deg, var(--bright-orange), transparent);
    margin-right: 0;
    margin-left: 20%;
}

#bottom-hr {
    margin: 25px 0 25px 0;
}

.close {
    color: var(--background-grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--bright-orange);
    text-decoration: none;
    cursor: pointer;
}

.block {
    display: block;
}
/* End CSS for the modal */

input {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1em;
    padding: 0.5em 1em;
    font-family: var(--default-fonts);
    display: block;
    margin-bottom: 1em;
    margin-top: 0.2em;
    width: 330px;
}

label {
    font-weight: bold;
}

.login {
    width: 365px;
    margin: auto;
}

.icon {
    display: inline-block;
    transform: scale(1.5);
}

.logo {
    width: 4rem;
    height: 4rem;
}

.title {
    display: inline-block;
    margin-bottom: 12px;
}

.title-text {
    font-size: 2.5em;
    font-weight: bold;
}

.subtitle {
    font-size: 1.25em;
    color: var(--dimmed-text-color);
}

#page {
    max-width: 1500px;
    margin: auto;
}

.amount {
    text-align: right;
    padding-right: 3%;
}

h1,
h2 {
    display: inline-block;
}

h2 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 1.25em;
}
